@model OBETools.Models.Academy

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card custom-card-d-1 mb-4">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <H3 class="font-weight-light"> <i class="fas fa-tasks"></i>&nbsp; MISSION</H3>
                    <H1 class="font-weight-normal">
                        @Model.Missions.Count
                    </H1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card custom-card-d-1 mb-4">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <H3 class="font-weight-light"><i class="fab fa-stack-overflow"></i>&nbsp; PEO</H3>
                    <H1 class="font-weight-normal">
                        @Model.PEOs.Count
                    </H1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card custom-card-d-1 mb-4">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <H3 class="font-weight-light"><i class="fas fa-receipt"></i>&nbsp; PLO</H3>
                    <H1 class="font-weight-normal">
                        @Model.PLOs.Count
                    </H1>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card custom-card-d-1 mb-4">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <H3 class="font-weight-light"><i class="fab fa-discourse"></i>&nbsp; CLO</H3>
                    <H1 class="font-weight-normal">
                        @Model.CLOs.Count
                    </H1>
                </div>
            </div>
        </div>

    </div>



