@{ 
    string username = User.Identity.Name;
    var Role = Context.User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;

}


<nav id="headernav" class="sb-topnav navbar navbar-expand navbar-dark custom-header">

    <button onclick=" OpenHeader()" class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand" asp-action="Index" asp-controller="Home"><i class="fab fa-accusoft"></i>&nbsp;OBE</a><!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="~/images/userlogo.png" class="user-icon"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#"><i class="fas fa-user-circle"></i>&nbsp; @username</a>
                <a class="dropdown-item" href="#"><i class="fas fa-check-circle"></i>&nbsp; @Role</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" asp-action="Logout" asp-controller="Login">Logout</a>
            </div>
        </li>
    </ul>
</nav>