<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>OBE</title>

    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/cards.css" rel="stylesheet" />
    <link href="~/css/color.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

    <link href="~/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">

    <div id="layoutSidenav">

        @Html.Partial("_Sidebar")
        <div id="layoutSidenav_content">
            @Html.Partial("_Header")
            <div class=" m-2 c-b-white-1">
                <main role="main" class="pb-2 container-fluid">
                        @RenderBody()
                </main>
            </div>

            <footer class="p-2 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; 2020  </div>
                        <div>
                            <a href="https://www.facebook.com/prince.hridoy.1213/">By </a>
                            &middot;
                            <a href="https://www.facebook.com/prince.hridoy.1213/">Md Rakibul Hasan &amp; Jafry Mondol Deep</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/JavaScript.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    <script src="~/DataTables-1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="~/DataTables-1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/datatables-demo.js"></script>

</body>
</html>
