<div id="layoutSidenav_nav">

    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="logo-div">
            <img src="~/images/logo.jpg" class="main-logo" />
        </div>
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" asp-action="Index" asp-controller="Home">
                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    Dashboard
                </a>
                <div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        OBE Manager
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" asp-action="Index" asp-controller="Academy"><i class="fas fa-university"></i> &nbsp; Academy </a>
                            <a class="nav-link" asp-action="Index" asp-controller="Mapping"><i class="fas fa-marker"></i>&nbsp; Map </a>
                        </nav>
                    </div>
                </div>

                <a class="nav-link" asp-action="Index" asp-controller="User">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i> </div>
                    Users
                </a>
                <a class="nav-link" asp-action="Index" asp-controller="CourseManager">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-reader"></i></div>
                    Course Manager
                </a>

                <div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAssessmentLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-stream"></i></div>
                        Assessment Manager
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseAssessmentLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" asp-action="Index" asp-controller="Assessment"><i class="fas fa-laptop-code"></i> &nbsp; Assessments </a>
                            <a class="nav-link" asp-action="Index" asp-controller="AcademicEvaluation"><i class="fas fa-book-open"></i> &nbsp; Course Assessment </a>
                        </nav>
                    </div>
                </div>

                <a class="nav-link" asp-action="Index" asp-controller="Grading">
                    <div class="sb-nav-link-icon"><i class="fas fa-money-check"></i></div>
                    Academic Grading
                </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            <i class="fas fa-user-circle"></i>
            @User.Identity.Name
        </div>
    </nav>
</div>