@model CourseManager

@{ 
    int countSubject = Model.CourseRegistrations.DistinctBy(c => c.RegistrationInformation.Course.Id).ToList().Count;
    int countStudents = Model.CourseRegistrations.DistinctBy(c => c.StudentId).ToList().Count;
}

    <div class="row">
        <div class="col-xl-4 col-md-6">
            <div class="card custom-card-d-1 mb-4">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <H4 class="font-weight-light"> <i class="fas fa-book-reader"></i>&nbsp; COURSE</H4>
                    <H1 class="font-weight-normal">
                        @Model.Courses.ToList().Count
                    </H1>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6">
            <div class="card custom-card-d-1  mb-4">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <H4 class="font-weight-light"> <i class="fas fa-book"></i>&nbsp; REGISTER SUBJECT</H4>
                    <H1 class="font-weight-normal">
                        @countSubject
                    </H1>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6">
            <div class="card custom-card-d-1  mb-4">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <h4 class="font-weight-light"><i class="fas fa-user-graduate"></i>&nbsp; REGISTER STUDENT</h4>
                    <H1 class="font-weight-normal">
                        @countStudents
                    </H1>
                </div>
            </div>
        </div>
    </div>



