@model IEnumerable<OBETools.Models.Login>

<div>
    <h2 class="mt-4 font-weight-normal"><i class="fas fa-tachometer-alt"></i> &nbsp;Dashboard</h2>
    @Html.Partial("Partial/_DashboardCards")
</div>
