@model IEnumerable<OBETools.Models.Login>

<div>
    <h1 class="mt-4 font-weight-normal">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    @Html.Partial("Partial/_DashboardCards")

</div>
