@model Users
@{ 
    int Admins = Model.Staffs.FindAll(st => st.Login.Role.ToLower() == Roles.Admin.ToString().ToLower()).Count ;
    int Staffs = Model.Staffs.Count;
    int Students = Model.Students.Count;
}

<div class="row">
    <div class="col-xl-4 col-md-1">
        <div class="card custom-card-d mb-4">
            <div class="card-body d-flex align-items-center justify-content-between">
                <H3 class="font-weight-light"> <i class="fas fa-user-shield"></i>&nbsp; Admin</H3>
                <H1 class="font-weight-normal">
                    @Admins
                </H1>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card custom-card-d  mb-4">
            <div class="card-body d-flex align-items-center justify-content-between">
                <H3 class="font-weight-light"><i class="fas fa-chalkboard-teacher"></i>&nbsp; Staffs</H3>
                <H1 class="font-weight-normal">
                    @Staffs
                </H1>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card custom-card-d  mb-4">
            <div class="card-body d-flex align-items-center justify-content-between">
                <H3 class="font-weight-light"><i class="fas fa-user-graduate"></i>&nbsp; Students</H3>
                <H1 class="font-weight-normal">
                    @Students
                </H1>
            </div>
        </div>
    </div>

</div>



