@model OBETools.Models.Mission

<div>
    <div class="row">
        <h4 class="font-weight-normal col-md-6 text-success"><i class="fas fa-user-plus"></i>&nbsp; CREATE</h4>
    </div>

    <hr class="c-hr-green mb-4" />

    <div>
        @Html.Partial("Notifications/_Notification")
    </div>
    <div class="container">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control  " required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-7">
                    <label asp-for="@Model.Description" class="control-label"></label>
                    <input asp-for="@Model.Description" class="form-control  " required />
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-info btn btn-block">Save</button>
                </div>
                <div class="form-group col-md-6">
                    <button type="reset" class="btn btn-danger btn btn-block">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
