@model EvaluationWithMapping
<div>
    <div class="">
        @Html.Partial("Notifications/_Notification")
    </div>
    <div class="row">
        <h2 class="mt-4 mb-1 font-weight-light"><i class="fab fa-artstation"></i>&nbsp; Academic Evaluation</h2>
    </div>
    <hr class="c-hr-gray" />

    <ul class="nav nav-tabs mb-1" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="evaluation-tab" data-toggle="tab" href="#evaluation" role="tab" aria-controls="evaluation" aria-selected="true">Evaluations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="vets-tab" data-toggle="tab" href="#vet" role="tab" aria-controls="vet" aria-selected="false">Map With CLO</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="evaluation" role="tabpanel" aria-labelledby="evaluation-tab">
            @Html.Partial("Partial/AcademicEvaluations", Model.AcademicEvaluationLists)
        </div>
        <div class="tab-pane fade" id="vet" role="tabpanel" aria-labelledby="vet-tab">
            @Html.Partial("Partial/EvaluationToCLOMapping", Model.EvaluationToCLOMappings)
        </div>
    </div>
</div>

<div class="modal fade" id="view-evaluationmapping-modal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-" role="document" id="viewevaluationmappingmodal">

    </div>
</div>